{% extends "base.html" %}
{% block head %}
<title>
    Home
</title>
{% endblock %}
{% block body %}
<div class="banner">
    <div class="app-text">
        <h1>
            <b>
                Want Send Emails Simply and easily heres the soulution send email.
            </b>
        </h1>
        <p>
            <b>
                A simple web app made with python flask, you can sign up and sign in and do authentication and many
                more things,this is a awesome web app.
            </b>
        </p>
    </div>
    <div class="app-pic">
        <img src="{{ img }}"
            alt="{{ img }}">
    </div>
</div>
{% endblock %}